*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: auto;
    font:inherit;
    box-sizing: border-box;
    font-family:'Oswald',sans-serif;
}
body{
    display: block;  
    background-color: rgb(51, 3, 51);
    flex-direction: row;
}
/*-----------------Encabezados---------------*/
header{
    display:block;
    font-size: 150%;
    background-color: #E8BCB9;
    padding: 10px;
    text-align: center;
    border: 4px black solid;
}
/*--------------Cuerpo de la pagina---------------*/
main{
    background-color: #432E54;
    padding: 1%;
    display: flex;
    flex-direction: row; /* Establecemos la dirección de los elementos como columna */
    align-items: center; /* Centra verticalmente el contenido de main */
    padding: 20px;
}
.repositorio{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1px;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 1000;
    align-items: center;

}
nav {
    position: sticky;
    top: 0;
    font-style:oblique;
    background-color: #4B4376;
    border: 2px solid black;
    border-radius: 10px;
    width: 17%; /* Ancho de la barra de navegación */
    text-size-adjust: 2;
    height: 100%;
    min-height: 100vh; /* Altura mínima para que ocupe toda la pantalla */
    align-self: flex-start;
}
nav ul {
    list-style:none;
    padding: 2%;
    margin: 0;
    
}
nav li {
    padding: 0% 5%;
    text-align:right;
}
section{
    display: flex;
    flex-flow:wrap row;
    justify-content: space-around;
    width: 100%;
}
article{
    display: flex;
    flex-flow:wrap column;
    align-items: center;
    background-color: #4B4376;
    min-width: 400px;
    width: 45%;
    height: auto; 
    border: 2px black solid;
    margin: 1%;
}
section img{
    width: 95%;
    height: auto; 
    border: 2px solid black;
    border-radius:  10px;
    border-style: double;
    margin: 1% 0;
    transition: transform 0.5s ease-in-out;
}
article img:hover{
    transform: scale(1.1);
}
div {
    display:flex;
    align-items: center;
    color: rgb(15, 15, 14);
    
    backdrop-filter: blur(5px);
    height: 9em;
    border: 2px solid black;
}
span{
    order: -1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 85%;
}

a{
    text-align: center;
    font-size: 200%;
    transition-duration: 1s,1s;
    margin-bottom: 5px;

}
a:hover{
    color: #432E54;

}

button{
    background-color: #E8BCB9;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0) ;
    padding: 0;
    font-size: 100%;
    width: 90%;
}
button:hover{
    color: rgb(82, 23, 177);
    cursor:zoom-in;
}
.sinopsis p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1% 4%;
}
/*--------------Final de la página--------------*/
footer{
    background-color: #E8BCB9;
    padding: 10px;
    border: 4px black solid;
    font-size: 300%;
}
footer h2{
    display: inline;
    text-align: center;
    margin-left: 20%;

}
#bangboo{
    display: inline;
    width: auto;
    height: auto; 
    border: 0;
    border-radius: 0;
    margin: 5px;
}
